body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainDiv{
background-color: salmon;
border:2px dotted blue;
}
.heading {
    color: red;
    padding: 20px;
    border: 3px solid tomato;
}
.heading:hover{
    color:blue;
    padding:0px;
}
.para{
color:blue;
font-size:30px;
}
.para2{
    font-weight: 600;
}

.div2> p{
    color:rgb(0, 255, 55);
}



/* --------------------------
this is comment code 
--------------------------*/

/*
 .xyz, .abc, .para2,{
    font-size:30px;
} 

*/


#student-form> input {
    display: block;
    padding: 10px;
    margin: 20px 10px 20px 50px;
}
#student-form> select{
    margin-left:60px;
}
#student-form> label{
    color:red;
    margin-left:60px;
}
#student-form> input::placeholder{
    color:blue;
}


#student-form> input::placeholder::before{
    content:"hi";
}

#click::before{
    content: "*";
}
#click::after{
    content:" &";
}

#click:hover{
    color:red;
}
#click:visited {
    color: #00FF00;
  }

  