
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 360px) {
    .parants{
        display: flex;
        flex-direction: column;
    }
    .content p{
        font-size: 20px;
        color: red;
        padding: 10px;
    }
 }
 /* small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .content p{
        font-size: 25px;
        color: rgb(0, 47, 255);
        padding: 20px;
    }
    .mainDIv .right{
        float: left;
    }
    .mainDIv{
        display: flex;
        flex-direction: column;
    }
}


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .content p{
        font-size: 30px;
        color: rgb(0, 195, 255);
        padding: 30px;
    }
   
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .content p{
        font-size: 40px;
        color: rgb(43, 255, 0);
        padding: 10px;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .content p{
        font-size: 50px;
        color: rgb(24, 4, 4);
        padding: 10px;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .content p{
        font-size: 70px;
        color: rgb(166, 255, 0);
        padding: 200px;
    }
 } 
