*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 0px;
    padding: 0px;
}

.parants{
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 20px;

}
.child-div{
    width: 400px;
    height: 400px;
    background-color: blue;
    position: absolute;
    top: 200px;
}
.another-div{
    width: 500px;
    height: 500px;
    background-color: tomato;
    margin-top: 0px;
    position: fixed;
    top: 500px;
    left: 20px;
    overflow: hidden;
    z-index: 99999;
}
h1{
   position: sticky;
    top: 20px;
    right: 0px;
}



/* Display Page */


.d-parants{

}
.d-child{

}
.d-child p{
    display: inline-block;
    height: 20px;
    background-color: red;
}
.d-child a{
    display: inline-block;
    height: 30px;
    background-color: lightblue;
}

.para{
    background-color: salmon;
    height: 20px;
}
.menu{
    margin: 50px;

}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.menu ul li{
    margin: 20px 10px;
    padding: 20px 30px;
    background-color: blue;
    position: relative;
    width: 200px;
}

.menu ul li:hover{
    background-color: #000;
    color: lightblue;
    transition: all 1s ease-in-out;
}

.menu ul li ul{
    display: block;
    position: absolute;
    top: -9999px;
}

.menu ul li:hover >ul{
    position: absolute;
    top: 40px;
    left: -10px;
    
}
.menu ul li ul li{
    position: relative;
}
.menu ul li ul li ul{
    position: absolute;
    right: -9999px;
}
.menu ul li ul li ul li{
    margin: 20px 10px;
    padding: 20px 30px;
    background-color: red;
}
.menu ul li ul li:hover ul{
    right: -300px;
    left: 200px;
    top: -20px;
}